.btn {
    background-color: #ddd;
    border: none;
    border-radius: 8px;
    width: 60px;
    height: 50px;
    margin: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

    .btn:hover {
        background-color: #ccc;
    }

    .btn.fav {
        background-color: #a8d0ff; /* hellblau */
    }

    .btn.topfav {
        background-color: #4287f5; /* dunkleres blau */
        color: white;
    }

.submit-btn {
    background-color: #8ac5ff;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .submit-btn:disabled {
        background-color: #aaccee;
        cursor: not-allowed;
    }
